<%= form_for([:admin, @sports_day_subscription], :html => {:class => "form-horizontal"})  do |f| %>
    <% if @sports_day_subscription.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <h3><%= t('validation_error_message_1') + pluralize(@sports_day_subscription.errors.count, t('validation_error_message_2')) + t('validation_error_message_3') %></h3>

          <ul>
            <% @sports_day_subscription.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <%= render 'admin/subscription/form', form: f, subscription: @sports_day_subscription %>

    <div class="field form-group">
      <%= f.label t('sports_day_subscription_form_day'), :class => "col-sm-3 control-label" %>
      <div class="col-sm-6">
        <%= f.select :sports_day_id, options_for_select(@sports_days.map{|d|[d.code, d.id]},@sports_day_subscription.sports_day_id), {}, {:class => "form-control select", 'data-style' => "btn-primary"} %>
      </div>
    </div>

    <div class="actions form-group" >
      <%= link_to admin_sports_day_subscriptions_path, :class => "btn btn-primary col-sm-offset-3" do %>
          <i class="glyphicon glyphicon-chevron-left"></i> <%= t('button_back') %>
      <% end %>
      <%= button_tag(type: 'submit', class: "btn btn-primary col-sm-offset-4") do %>
          <%= (controller.action_name=="new" or controller.action_name=="create") ? t('button_add') :  t('button_edit') %> <i class="glyphicon glyphicon-ok"></i>
      <% end %>
    </div>
<% end %>
