<div class="content">

  <% if !notice.blank? %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>

  <h1><%= t('level_index_title') %></h1>

  <table class="table">
    <%= link_to new_admin_level_path, class: 'col-md-offset-7' do %>
        <span class="glyphicon glyphicon-plus"></span>
    <% end %>
    <thead>
      <tr>
        <th><%= t('level_form_name') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @levels.each do |level| %>
        <tr>
          <td><%= level.name %></td>
          <td>
            <%= link_to admin_level_path(level.id), method: :delete, data: { confirm: t('level_destroy_confirmation_message') }, class:'btn btn-danger btn-sm' do %>
                <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
