<p id="notice"><%= notice %></p>

<p>
  <strong>Alias:</strong>
  <%= @place.alias %>
</p>

<p>
  <strong>Street:</strong>
  <%= @place.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @place.postalCode %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
