<html>
<head>
  <style type="text/css">

  </style>
</head>
<body>

<table width="100%" height="100%" align="center" id="ecxbodyTable" style="padding: 0px; width: 100%; height: 100%; border-collapse: collapse; background-color: rgb(234, 255, 0)" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td align="center" id="ecxbodyCell" valign="top" style="padding: 20px; width: 100%; height: 100%; border-top-color: currentColor; border-top-width: 0px; border-top-style: none">

      <table width="600" id="ecxtemplateContainer" style="border: 0px currentColor; border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td align="center" valign="top">

            <table width="600" id="ecxtemplatePreheader" style="border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; border-collapse: collapse; background-color: rgb(255, 255, 255)" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td class="ecxpreheaderContainer" valign="top" style="padding-top: 9px">
                  <table width="100%" class="ecxmcnImageGroupBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                    <tbody class="ecxmcnImageGroupBlockOuter">
                    <tr>
                      <td class="ecxmcnImageGroupBlockInner" valign="top" style="padding: 9px">

                        <table width="273" align="left" class="ecxmcnImageGroupContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="ecxmcnImageGroupContent" valign="top" style="padding-top: 0px; padding-bottom: 0px; padding-left: 9px">


                              <img width="264" class="ecxmcnImage" style="border: 0px currentColor; padding-bottom: 0px; text-decoration: none; vertical-align: bottom; -ms-interpolation-mode: bicubic; max-width: 400px" alt="" src="https://gallery.mailchimp.com/8c39d93e1efdd7472776f73d7/images/055040aa-9858-4525-b9bd-7a7076d41a3f.jpg"/>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                        <table width="273" align="right" class="ecxmcnImageGroupContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="ecxmcnImageGroupContent" valign="top" style="padding-top: 0px; padding-right: 9px; padding-bottom: 0px">


                              <img width="264" class="ecxmcnImage" style="border: 0px currentColor; padding-bottom: 0px; text-decoration: none; vertical-align: bottom; -ms-interpolation-mode: bicubic; max-width: 1000px" alt="" src="https://gallery.mailchimp.com/8c39d93e1efdd7472776f73d7/images/e5b5279d-7842-4811-9311-e3e56ea37275.jpg"/>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

            <table width="600" id="ecxtemplateHeader" style="border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; border-collapse: collapse; background-color: rgb(255, 255, 255)" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td class="ecxheaderContainer" valign="top"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

            <table width="600" id="ecxtemplateBody" style="border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; border-collapse: collapse; background-color: rgb(255, 255, 255)" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td class="ecxbodyContainer" valign="top">
                  <table width="100%" class="ecxmcnTextBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                    <tbody class="ecxmcnTextBlockOuter">
                    <tr>
                      <td class="ecxmcnTextBlockInner" valign="top">

                        <table width="600" align="left" class="ecxmcnTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="ecxmcnTextContent" valign="top" style="padding: 9px 18px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">

                              <h1 style="padding: 0px; text-align: center; color: rgb(96, 96, 96); line-height: 125%; letter-spacing: -1px; font-family: Helvetica; font-size: 40px; font-style: normal; font-weight: bold; display: block">
                                <span style="font-size: 64px">Votre enfant<br/><span style="color: rgb(169, 169, 169)">est inscrit !</span></span><br/>
                              </h1>

                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table width="100%" class="ecxmcnBoxedTextBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                    <tbody class="ecxmcnBoxedTextBlockOuter">
                    <tr>
                      <td class="ecxmcnBoxedTextBlockInner" valign="top">

                        <table width="600" align="left" class="ecxmcnBoxedTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td style="padding: 9px 18px">

                              <table width="100%" class="ecxmcnTextContentContainer" style="border-collapse: collapse; background-color: rgb(220, 20, 60)" border="0" cellspacing="0" cellpadding="18">
                                <tbody>
                                <tr>
                                  <td class="ecxmcnTextContent" valign="top" style="text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                    <p style="padding: 0px; text-align: center; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                      <strong><span style="color: rgb(255, 255, 255)">Nous vous confirmons l'inscription de votre enfant<br/>
                  à notre module SPORTIF lors la journée pédagogique de l'école</span></strong></p>

                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table width="100%" class="ecxmcnTextBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                    <tbody class="ecxmcnTextBlockOuter">
                    <tr>
                      <td class="ecxmcnTextBlockInner" valign="top">

                        <table width="600" align="left" class="ecxmcnTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="ecxmcnTextContent" valign="top" style="padding: 9px 18px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">

                              <p style="padding: 0px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                <span style="font-size: 12px"><strong>Lieu d'activité :</strong> <%= @subscription.sports_day.place.alias+', '+@subscription.sports_day.place.street+' à '+ @subscription.sports_day.place.postalCode.to_s + ' ' + @subscription.sports_day.place.city %></span>
                              </p>
                              <p style="padding: 0px; text-align: left; color: rgb(96, 96, 96); line-height: 150%; font-family: Helvetica; font-size: 15px">
                                <span style="font-size: 12px"><strong>Date de la journée pédagogique : </strong><%= l @subscription.sports_day.date %>
                                  <br/><strong>Horaires :</strong> <%= 'De ' + l(@subscription.sports_day.startTime) + ' à ' + l(@subscription.sports_day.endTime) %>
                                  <br/><strong>Lieu de RDV : </strong> <%= @subscription.sports_day.morningPlace %></span>
                                <span style="font-size: 12px"><br/>(Possibilité de garderie payante. Celle-ci doit être réservée au préalable via téléphone ou sms au 0472/22.46.58)<br/>
                                </span></p>

                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

            <table width="600" id="ecxtemplateFooter" style="border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; border-collapse: collapse; background-color: rgb(255, 255, 255)" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td class="ecxfooterContainer" valign="top" style="padding-bottom: 9px">
                  <table width="100%" class="ecxmcnTextBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                    <tbody class="ecxmcnTextBlockOuter">
                    <tr>
                      <td class="ecxmcnTextBlockInner" valign="top">

                        <table width="600" align="left" class="ecxmcnTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="ecxmcnTextContent" valign="top" style="padding: 9px 18px; text-align: left; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px">

                              <div style="text-align: center" dir="ltr">
                                <br/><br/><br/><font face="Tahoma"><font style="font-size: 16pt"><span style="color: rgb(169, 169, 169)"><font style="font-size: 30pt"><span style="font-size: 64px">Modalités </span></font></span><br/><font color="#666666" style="font-size: 30pt"><span style="font-size: 64px">de paiement</span></font></font></font>
                              </div>

                              <div dir="ltr">
                                <font color="#000000"> <br/><br/><span style="font-size: 14px">En liquide auprès du moniteur présent sur place.</span></font>
                              </div>

                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table width="100%" class="ecxmcnTextBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                    <tbody class="ecxmcnTextBlockOuter">
                    <tr>
                      <td class="ecxmcnTextBlockInner" valign="top">

                        <table width="600" align="left" class="ecxmcnTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="ecxmcnTextContent" valign="top" style="padding: 9px 18px; text-align: left; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px">

                              <p align="center" style="padding: 0px; text-align: left; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px">
                                <span style="color: rgb(64, 224, 208)"><span style="font-size: 18px">                                 Forfait à payer par enfant :</span></span>
                              </p>
                              <p align="right" style="padding: 0px; text-align: left; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px">
                                <span style="color: rgb(64, 224, 208)"><span style="font-size: 18px"></span></span></p>
                              <span style="font-size: 18px"><p align="right" style="padding: 0px; text-align: left; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px"><font size="7" style="font-size: 30pt">                    <%= @subscription.sports_day.price %>€</font></p></span>
                              <p style="padding: 0px; text-align: center; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px"></p>
                              <p style="padding: 0px; text-align: center; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px">
                                <br/><br/><br/><br/><br/></p>

                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table width="100%" class="ecxmcnImageBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                    <tbody class="ecxmcnImageBlockOuter">
                    <tr>
                      <td class="ecxmcnImageBlockInner" valign="top" style="padding: 9px">
                        <table width="100%" align="left" class="ecxmcnImageContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="ecxmcnImageContent" valign="top" style="padding: 0px 9px">


                              <img width="564" align="left" class="ecxmcnImage" style="border: 0px currentColor; padding-bottom: 0px; text-decoration: none; vertical-align: bottom; display: inline; -ms-interpolation-mode: bicubic; max-width: 610px" alt="" src="https://gallery.mailchimp.com/8c39d93e1efdd7472776f73d7/images/a158104b-c865-4926-b05b-17876d3b3722.jpg"/>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table width="100%" class="ecxmcnTextBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                    <tbody class="ecxmcnTextBlockOuter">
                    <tr>
                      <td class="ecxmcnTextBlockInner" valign="top">

                        <table width="600" align="left" class="ecxmcnTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="ecxmcnTextContent" valign="top" style="padding: 9px 18px; text-align: left; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px">

                              <p style="padding: 0px; text-align: center; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px">
                                <span style="font-size: 64px">Conditions <span style="color: rgb(169, 169, 169)">générales</span></span>
                              </p>

                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table width="100%" class="ecxmcnTextBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                    <tbody class="ecxmcnTextBlockOuter">
                    <tr>
                      <td class="ecxmcnTextBlockInner" valign="top">

                        <table width="600" align="left" class="ecxmcnTextContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="ecxmcnTextContent" valign="top" style="padding: 9px 18px; text-align: left; color: rgb(96, 96, 96); line-height: 125%; font-family: Helvetica; font-size: 11px">

                              <div dir="ltr"><br/><br/><br/><br/></div>

                              <div dir="ltr">
                                <div dir="ltr">
                                  <span style="color: rgb(255, 140, 0)"><font size="4"><font size="5"><strong>Organisation des séances + ce qu'il faut prévoir  &gt;</strong></font></font></span><br/><br/>
                                  - Notre équipe de moniteur VIVASPORT
                                  <font size="2" style="font-size: 10pt">(bachelier en éducation physique)</font></div>
                                <div dir="ltr"> assurera les séances SPORTIVES.</div>
                                <div dir="ltr">- SPORTS proposés &gt; un large choix de sports nouveaux seront proposés
                                  toutes la journée (bumball, tir à l'arc, kinball, etc.)
                                </div>
                                <div dir="ltr">- Une répartition par groupe d'âge</div>

                                <div dir="ltr">- le lieu d'activité sera la salle de gymnastique
                                  <font size="2">du primaire ou en extérieur si la météo est favorable.</font></div>

                                <div dir="ltr">
                                  <font size="3" style="font-size: 12pt; background-color: rgb(255, 255, 0)">-
                                    <strong>a prévoir &gt;</strong> tenues et baskets de sports + boissons en suffisance
                                    / </font></div>
                                <div dir="ltr">
                                  <font size="3" style="font-size: 12pt; background-color: rgb(255, 255, 0)">repas de
                                    midi</font><br/></div>
                              </div>

                              <div dir="ltr"></div>

                              <div dir="ltr">
                                <div dir="ltr">
                                  <span style="color: rgb(255, 140, 0)"><font size="4"><font size="5"><strong>Conditions d'inscription  &gt;</strong></font></font></span><br/><br/>
                                  - VIVASPORT sprl se réserve le droit d'annuler les activités si un nombre de
                                  participants n'est pas atteint. Vous<br/>
                                  serez évidemment tenu informé dans ce cas de figure.
                                </div>


                                <div dir="ltr">- les enfants dont la preuve de paiement ne serait pas fournie dès le
                                  début de la 1ère séance se verront refusés
                                </div>

                                <div dir="ltr"> et ne seront pas pris en charge.<br/><br/></div>

                                <div dir="ltr"><br/><br/><br/><br/><br/>
                                </div>
                              </div>

                              <div style="text-align: center" dir="ltr">
                                <span style="color: rgb(255, 140, 0)"><span style="font-size: 48px">Bon amusement </span></span><br/>
                              </div>

                              <div style="text-align: center" dir="ltr">
                                <span style="color: rgb(255, 140, 0)"><span style="font-size: 48px">à votre enfant !</span></span>
                              </div>

                              <div dir="ltr"><br/><br/><br/><br/></div>

                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table width="100%" class="ecxmcnImageBlock" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                    <tbody class="ecxmcnImageBlockOuter">
                    <tr>
                      <td class="ecxmcnImageBlockInner" valign="top" style="padding: 9px">
                        <table width="100%" align="left" class="ecxmcnImageContentContainer" style="border-collapse: collapse" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="ecxmcnImageContent" valign="top" style="padding: 0px 9px">


                              <img width="564" align="left" class="ecxmcnImage" style="border: 0px currentColor; padding-bottom: 0px; text-decoration: none; vertical-align: bottom; display: inline; -ms-interpolation-mode: bicubic; max-width: 2205px" alt="" src="https://gallery.mailchimp.com/8c39d93e1efdd7472776f73d7/images/bd410300-09d4-4a1e-a791-cbacf2559152.jpg"/>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>