<div class="content">
  <p><%= t('change_password_greeting') + ' ' +  @resource.email %>!</p>

  <p><%= t('change_password_instructions_1') %></p>

  <p><%= link_to t('change_password_link'), edit_password_url(@resource, reset_password_token: @token) %></p>

  <p><%= t('change_password_instructions_2') %></p>
  <p><%= t('change_password_instructions_3') %></p>

  <p><%= t('change_password_signature')%></p>
</div>
