<%= form_for([:admin, @sports_training], :html => {:class => "form-horizontal"})  do |f| %>
  <% if @sports_training.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h3><%= t('validation_error_message_1') + pluralize(@sports_training.errors.count, t('validation_error_message_2')) + t('validation_error_message_3') %></h3>

        <ul>
          <% @sports_training.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="field form-group">
    <%= f.label t('sports_training_form_code'), :class => "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :code, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t('sports_training_form_place'), :class => "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.select :place_id, options_for_select(@places.map{|s|[s.alias, s.id]}, @sports_training.place_id),{}, {:class => "form-control select", 'data-style' => "btn-primary"} %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label t('sports_training_form_start_date'), :class => "col-sm-3 control-label" %>
    <div class="col-sm-6 input-group">
      <%= f.text_field :startDate, value: @sports_training.startDate.blank? ? @sports_training.startDate_before_type_cast : l(@sports_training.startDate), :class => "form-control date" %>
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </div>
  <div class="field form-group has-feedback">
    <%= f.label t('sports_training_form_end_date'), :class => "col-sm-3 control-label" %>
    <div class="col-sm-6 input-group">
      <%= f.text_field :endDate, value: @sports_training.endDate.blank? ? @sports_training.endDate_before_type_cast : l(@sports_training.endDate), :class => "form-control date" %>
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label t('sports_training_form_start_time'), :class => "col-sm-3 control-label" %>
    <div class="col-sm-6 input-group">
      <%= f.text_field :startTime, value: @sports_training.startTime.blank? ? @sports_training.startTime_before_type_cast : l(@sports_training.startTime),  :class => "form-control" %>
      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label t('sports_training_form_end_time'), :class => "col-sm-3 control-label" %>
    <div class="col-sm-6 input-group">
      <%= f.text_field :endTime, value: @sports_training.endTime.blank? ? @sports_training.endTime_before_type_cast : l(@sports_training.endTime), :class => "form-control" %>
      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label t('sports_training_form_morning_activities'), :class => "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.select :morningActivities, options_for_select(@activities.map{|a|[a.name, a.id]}, :selected => @sports_training.morningActivities.map{|a|a.id}), {}, {:multiple => true, :class => "form-control select", 'data-style' => "btn-primary", 'title' => t('sports_training_form_activity_choice')} %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label t('sports_training_form_afternoon_activities'), :class => "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.select :afternoonActivities, options_for_select(@activities.map{|a|[a.name, a.id]}, :selected => @sports_training.afternoonActivities.map{|a|a.id}), {}, {:multiple => true, :class => "form-control select", 'data-style' => "btn-primary", 'title' => t('sports_training_form_activity_choice') } %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label t('sports_training_form_half_price'), :class => "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :halfDayPrice, :class => "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label t('sports_training_form_price'), :class => "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :fullDayPrice, :class => "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label t('sports_training_form_nursery_morning'), :class => "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :morningNursery, :class => "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label t('sports_training_form_nursery_afternoon'), :class => "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :afternoonNursery, :class => "form-control" %>
    </div>
  </div>


  <div class="actions form-group" >
    <%= link_to admin_sports_trainings_path, :class => "btn btn-primary col-sm-offset-3" do %>
        <i class="glyphicon glyphicon-chevron-left"></i> <%= t('button_back') %>
    <% end %>
    <%= button_tag(type: 'submit', class: "btn btn-primary col-sm-offset-4") do %>
        <%= (controller.action_name=="new" or controller.action_name=="create") ? t('button_add') :  t('button_edit') %> <i class="glyphicon glyphicon-ok"></i>
    <% end %>
  </div>
<% end %>
